{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>La force est puissante en toi</h1>

    {% include "_incs/_slider.html.twig" %}

    <div class="container pt-2">
        <div class="p-5 bg-light rounded shadow-lg">
                <h1 class="display-3">Bienvenue sur Symcom</h1>
                <p class="lead">Nos meilleurs composants</p>
                <hr class="my-2">
                <p>Voir nos produits</p>
                <span><a name="" id="" class="btn btn-primary" href="{{path('app_product')}}" role="button">Produits</a></span>
                <p class="lead"></p>
        </div>

        <div class="row py-5">
            <div class="col-md-4 col-lg-4 col-xs-12 py-3 bg-success text-white text-center rounded">
                <i class="fas fa-credit-card fa-3x"></i>
                <p class="text-white text-center">Produits de qualité, délivrés par les plus grandes marques</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 py-3 bg-warning text-white text-center rounded">
                <i class="fa-solid fa-check fa-3x"></i>
                <p class="text-white text-center">Nos moyens de paiement sont sécurisé sur tout notre site</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 py-3 bg-primary text-white text-center rounded">
                <i class="fas fa-truck fa-3x"></i>
                <p class="text-white text-center">Livraison rapide assurée</p>
            </div>
        </div>
    </div>
    

{% endblock %}
